.slideshow {
  position: relative;
  margin: 40px 0;

  &__inner {
    display: flex;
    overflow: hidden;
  }

  &__item {
    flex-shrink: 0;
    width: 100%;
  }

  &__img {
    width: 100%;
  }

  &__page {
    position: absolute;
    bottom: 75px;
    left: 55px;
    display: flex;
    align-items: center;
    column-gap: 24px;
  }

  &__num {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 144.444%;
    color: #fff;
  }

  &__slider {
    width: 180px;
    height: 4px;
    flex-shrink: 0;
    background-color: #fff;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 14px;
      height: 14px;
      top: 50%;
      border-radius: 50%;
      border: 4px solid #fff;
    }

    &::before {
      left: 0;
      translate: 123% -50%;
    }

    &::after {
      right: 0;
      translate: -145% -50%;
    }
  }
}
