<div class="slideshow">
  <div class="slideshow__inner">

    <div class="slideshow__item">
      <img src="../../../assets/img/banner.png" alt="" class="slideshow__img">
    </div>
    <div class="slideshow__item">
      <img src="../../../assets/img/banner.png" alt="" class="slideshow__img">
    </div>
    <div class="slideshow__item">
      <img src="../../../assets/img/banner.png" alt="" class="slideshow__img">
    </div>

    <div class="slideshow__page">
      <span class="slideshow__num">1</span>
      <span class="slideshow__slider"></span>
      <span class="slideshow__num">5</span>
    </div>
  </div>

</div>
