<div class="product-container">
  <ul class="breadcrumbs">
    <li>
      <a href="#!" class="breadcrumbs__link">
        Departments
        <img src="./assets/icons/arrow-right.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#!" class="breadcrumbs__link">
        Coffee
        <img src="./assets/icons/arrow-right.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#!" class="breadcrumbs__link">
        Coffee Beans
        <img src="./assets/icons/arrow-right.svg" alt="" />
      </a>
    </li>
    <li>
      <a href="#!" class="breadcrumbs__link breadcrumbs__link--current"
      >LavAzza</a
      >
    </li>
  </ul>
</div>
