

%flexItemCenter {
  display: flex;
  align-items: center;
}

.header {
  background-color: #eee;
}

.top-bar {
  @extend %flexItemCenter;
  padding: 30px 0;
}

.navbar {
  margin-left: 144px;
  margin-right: auto;

  &__list {
    @extend %flexItemCenter;
    gap: 30px;
  }

  &__link {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
    @extend %flexItemCenter;
    gap: 6px;
  }

  &__arrow {
    margin-top: 3px;
  }
}

.top-act {
  @extend %flexItemCenter;
  gap: 20px;

  &__group {
    @extend %flexItemCenter;

    min-width: 50px;
    height: 50px;

    border-radius: 8px;
    background: var(--Secondary-Color-Background, #fff);
    box-shadow: 0px 20px 60px 10px rgba(237, 237, 246, 0.2);
  }

  &__group--single &__btn {
    padding: 13px;
  }

  &__btn {
    padding: 13px 20px;
    @extend %flexItemCenter;
    gap: 10px;
    cursor: pointer;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 146.667%;
  }

  &__separate {
    width: 1px;
    height: 30px;
    background-color: #ededf6;
  }

  &__user {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
  }

  &__user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }
}
