<main class="auth">
  <div class="auth__intro">
    <img src="./assets/img/intro.svg" alt="">
  </div>
  <div class="auth__content">
    <div class="auth__content--inner">
      <app-logo ></app-logo>
      <h1 class="auth__title">Sign Up</h1>
      <p class="auth__desc">Let’s create your account and Shop like a pro and save money.</p>
      <div class="form">
        <div class="form__group">
          <div class="form__text">
            <input type="text"  placeholder="Email" autocomplete="off">
            <img src="./assets/icons/mail.svg" alt="">
          </div>
        </div>
        <div class="form__group">
          <div class="form__text">
            <input type="password" placeholder="Password" autocomplete="off">
            <img src="./assets/icons/lock.svg" alt="">
          </div>
        </div>
        <div class="form__group">
          <div class="form__text">
            <input type="password" placeholder="Confirm password" autocomplete="off">
            <img src="./assets/icons/lock.svg" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <label class="form__checkbox">
          <input type="checkbox" name="" id="" class="form__checkbox-input" />
          <span class="form__checkbox-label">Set as default card</span>
        </label>

      </div>

      <div class="btn" >
        Sign Up
      </div>

      <div class="btn-google"  (click)="signInWithGoogle()">
        <img class="img-google" src="./assets/icons/google.svg" alt="">
        Sign In With Google
      </div>

      <p class="auth__text">
        You have an account yet?
        <span class="auth__link" [routerLink]="['/sign-in']" >Sign In</span>
      </p>
    </div>

  </div>
</main>
